<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>213 Movies | {{ title }}</title>
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='mdb.dark.min.css') }}"
    />
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='all.min.css') }}"
    />
</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">213 Movies</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/browse">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/top">Top Rated</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/api">API</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://github.com/crackhub-dev/movie-script"
                           target="_blank">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
<div class="bg-danger text-center adblock-warning">
    <b
    >Make sure you have a good adblocker (like
        <a href="https://ublockorigin.com/" target="_blank">uBlock Origin</a>)
        enabled, the video hosts have many ads!</b
    >
</div>
<div class="container movie-container" style="text-align: center">
    <h1>{{ title }} {{ year }}</h1>
    <h5>{{ tagline }}</h5>
    <ul class="nav nav-tabs mb-3" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link active"
                    id="2Embed"
                    data-mdb-toggle="tab"
                    data-mdb-target="#server1"
                    type="button"
                    role="tab"
                    aria-controls="2Embed"
                    aria-selected="true"
            >
                2Embed
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link"
                    id="apimdb"
                    data-mdb-toggle="tab"
                    data-mdb-target="#server2"
                    type="button"
                    role="tab"
                    aria-controls="apimdb"
                    aria-selected="true"
            >
                APIMDB
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link"
                    id="dbgo"
                    data-mdb-toggle="tab"
                    data-mdb-target="#server3"
                    type="button"
                    role="tab"
                    aria-controls="dbgo"
                    aria-selected="true"
            >
                DBGO
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link"
                    id="st"
                    data-mdb-toggle="tab"
                    data-mdb-target="#server4"
                    type="button"
                    role="tab"
                    aria-controls="st"
                    aria-selected="true"
            >
                Streamtape
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link"
                    id="vidsrc"
                    data-mdb-toggle="tab"
                    data-mdb-target="#server5"
                    type="button"
                    role="tab"
                    aria-controls="vidsrc"
                    aria-selected="true"
            >
                VidSRC
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    class="nav-link"
                    id="multi"
                    data-mdb-toggle="tab"
                    data-mdb-target="#server6"
                    type="button"
                    role="tab"
                    aria-controls="multi"
                    aria-selected="true"
            >
                Multi
            </button>
        </li>
    </ul>
    <div class="tab-content" id="tabsContent">
        <div
                class="tab-pane fade show active"
                id="server1"
                role="tabpanel"
                aria-labelledby="2Embed"
        >
            <iframe
                    src="https://www.2embed.ru/embed/tmdb/movie?id={{ tmdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server2"
                role="tabpanel"
                aria-labelledby="apimdb"
        >
            <iframe
                    src="https://apimdb.net/e/tmdb/movie/{{ tmdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server3"
                role="tabpanel"
                aria-labelledby="dbgo"
        >
            <iframe
                    src="https://dbgo.fun/video.php?id={{ imdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server4"
                role="tabpanel"
                aria-labelledby="st"
        >
            <iframe
                    src="https://api.123movie.cc/imdb.php?imdb={{ imdb_id }}&server=streamtape"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server5"
                role="tabpanel"
                aria-labelledby="vidsrc"
        >
            <iframe
                    src="https://vidsrc.me/embed/{{ imdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server6"
                role="tabpanel"
                aria-labelledby="multi"
        >
            <iframe
                    src="https://api.123movie.cc/imdb.php?imdb={{ imdb_id }}&server=vcs"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
    </div>
    <style>
        .movie-container {
            position: relative;
            overflow: hidden;
            width: 100%;
        }
    </style>
</div>
<div class="container" style="text-align: center">
    <button
            class="btn btn-primary mb-3"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#movieDesc"
            aria-expanded="false"
            aria-controls="movieDesc"
    >
        About This Movie
    </button>

    <!-- Collapsed content -->
    <div class="collapse mt-3 mb-5" id="movieDesc">{{ movieDesc }}</div>
</div>
<footer class="bg-dark text-center">
    <div class="container p-4">
        <section class="mb-4">
            <p>
                This application hosts no copyrighted content. All copyrighted
                content is hosted by unaffiliated third parties.
            </p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        2021 - Code by crackhub213
    </div>
</footer>
<!-- Footer -->
<script src="{{ url_for('static', filename='mdb.min.js') }}"></script>
</body>
</html>
