<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #bg {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
        }
        
        #bg img {
            position: absolute;
            background-size: cover;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
            filter: brightness(25%);
            backface-visibility: hidden;
        }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviesHub | {{ title }} {{ year }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb.dark.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
</head>

<body>
    <div id="bg">
        <img src="{{ tv_bg }}" alt="">
    </div>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">MoviesHub</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-film"></i> Movies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="">
                                    <a class="dropdown-item" href="/search"><i class="fas fa-search"></i> Search Movies</a>
                                </li>
                                <li class="">
                                    <a class="dropdown-item" href="/browse"><i class="fas fa-fire"></i> Browse Popular Movies</a>
                                </li>
                                <li class="">
                                    <a class="dropdown-item" href="/top"><i class="fas fa-star"></i> Top Rated Movies</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-tv"></i> TV Shows
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="">
                                    <a class="dropdown-item" href="/search/tv"><i class="fas fa-search"></i> Search TV Shows</a>
                                </li>
                                <li class="">
                                    <a class="dropdown-item" href="/browse/tv"><i class="fas fa-fire"></i> Browse Popular TV Shows</a>
                                </li>
                                <li class="">
                                    <a class="dropdown-item" href="/top/tv"><i class="fas fa-star"></i> Top Rated TV Shows</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/api">API</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="https://github.com/crackhub-dev/movie-script" target="_blank">GitHub</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <!-- <div class="bg-danger text-center adblock-warning">
    <b
    >Make sure you have a good adblocker (like
        <a href="https://ublockorigin.com/" target="_blank">uBlock Origin</a>)
        enabled, the video hosts have many ads!</b
    >
</div> -->
    <div class="container movie-container" style="text-align: left">
        <br>
        <p class="note note-warning">
            <strong>Note:</strong> Make sure you have a good adblocker (like
            <a href="https://ublockorigin.com/" target="_blank">uBlock Origin</a>) enabled, the video hosts have many ads!
        </p>
        <h1><b>{{ title }}</b> {{ year }}</h1>
        <h6>Average Episode Duration: {{ tv_runtime }}</h6>
        <h6>Rating: {{ tv_rating }}</h6>
        <h6>Overview: {{ tv_overview }}</h6>
        <br>
    </div>
    <div class="container">
        <div class="tv row">
            {% for season in seasons %}
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="card h-1">
                    <a href="/view/tv/{{ tmdb_id }}/{{ season['season_number'] }}/1" class="ripple">
                        <img class="card-img-top img-fluid rounded" src="https://image.tmdb.org/t/p/original{{ season['poster_path'] }}" alt="{{ season['season_name'] }}" onerror="this.onerror=null; this.src='/static/default.png'" /></a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    </div>
    <div class="text-center p-3">
        <p>
            This application hosts no copyrighted content. All copyrighted content is hosted by unaffiliated third parties.
        </p>
        <p>Code by crackhub213 & modified by parnex</p>
        <p>Powered by <img class="px-2" src="{{ url_for('static', filename='tmdb.svg') }}" style="width: 150px"></p>
    </div>
    <!-- <div
                class="tab-pane fade"
                id="server2"
                role="tabpanel"
                aria-labelledby="apimdb"
        >
            <iframe
                    src="https://apimdb.net/e/tmdb/movie/{{ tmdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server3"
                role="tabpanel"
                aria-labelledby="dbgo"
        >
            <iframe
                    src="https://dbgo.fun/video.php?id={{ imdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server4"
                role="tabpanel"
                aria-labelledby="st"
        >
            <iframe
                    src="https://api.123movie.cc/imdb.php?imdb={{ imdb_id }}&server=streamtape"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server5"
                role="tabpanel"
                aria-labelledby="vidsrc"
        >
            <iframe
                    src="https://vidsrc.me/embed/{{ imdb_id }}"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div>
        <div
                class="tab-pane fade"
                id="server6"
                role="tabpanel"
                aria-labelledby="multi"
        >
            <iframe
                    src="https://api.123movie.cc/imdb.php?imdb={{ imdb_id }}&server=vcs"
                    frameborder="0"
                    allowfullscreen="true"
                    width="100%"
                    height="700px"
                    class="movie"
            ></iframe>
        </div> -->
    </div>
    <style>
        .movie-container {
            position: relative;
            overflow: hidden;
            width: 100%;
        }
    </style>
    </div>
    <!-- <div class="container" style="text-align: center">
    <button
            class="btn btn-primary mb-3"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#movieDesc"
            aria-expanded="false"
            aria-controls="movieDesc"
    >
        About This Movie
    </button> -->

    <!-- Collapsed content -->
    <!-- <div class="collapse mt-3 mb-5" id="movieDesc">{{ movie_overview }}</div>
</div> -->
    <footer class="bg-dark text-center">

    </footer>
    <!-- Footer -->
    <script src="{{ url_for('static', filename='mdb.min.js') }}"></script>
</body>

</html>